[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

gunicorn = "*"
requests = "*"
pandas = "*"
bokeh = "*"
flask = "*"
pyyaml = "*"
cachetools = "*"


[requires]

python_version = "3.6"
