<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Plot historical stock prices." />
    <meta name="author" content="@aparkerlue">
    {% if ticker is defined %}
    <title>Historical Stock Data: {{ ticker }}</title>
    {% else %}
    <title>Historical Stock Data Look-Up</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% if script is defined %}
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    {{ script | indent(4) | safe }}
    {% endif %}
  </head>
  <body>
    <form action="{{ url_for('instrumdat.show_index') }}" method="gt">
      <fieldset>
        <legend>Ticker inputs</legend>
        <input name="ticker" type="text" size="30" placeholder="Ticker symbol (e.g., AAPL)" {{ ('value="{}" '.format(ticker) if ticker is defined) | safe }}required /><br />

        <input type="checkbox" name="close" {{ 'checked ' if selections is defined and 'close' in selections else '' }}/>
        <label>Closing price</label><br />

        <input type="checkbox" name="adj_close" {{ 'checked ' if selections is defined and 'adj_close' in selections else '' }}/>
        <label>Adjusted closing price</label><br />

        <input type="checkbox" name="open" {{ 'checked ' if selections is defined and 'open' in selections else '' }}/>
        <label>Opening price</label><br />

        <input type="checkbox" name="adj_open" {{ 'checked ' if selections is defined and 'adj_open' in selections else '' }}/>
        <label>Adjusted opening price</label><br />

        <input type="submit" value="Submit" />
      </fieldset>
    </form>

    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}

    {% if ticker is defined and script is defined and div is defined %}
    <h1>{{ ticker }}</h1>
    {% endif %}
    {% if script is defined %}
    {{ div | indent(4) | safe }}
    {% endif %}
  </body>
</html>
